<link rel="stylesheet" href="css/glitche-basic.css" />
<link rel="stylesheet" href="css/glitche-layout.css" />
<link rel="stylesheet" href="css/magnific-popup.css" />
<link rel="stylesheet" href="css/animate.css" />
<link rel="stylesheet" href="css/main.css" />

<!-- Load Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,100,300italic,300,100italic,400italic,500,500italic,700,700italic&amp;subset=latin,cyrillic"
  rel="stylesheet" />