<!-- jQuery Scripts -->
<script src="js/jquery.min.js"></script>
<script src="js/jquery.validate.js"></script>
<script src="js/typed.js"></script>
<script src="js/magnific-popup.js"></script>
<script src="js/imagesloaded.pkgd.js"></script>
<script src="js/isotope.pkgd.js"></script>

<!-- Main Scripts -->
<script src="js/glitche-scripts.js"></script>