/**
*	Glitche - CV/Resume/Portfolio Template (HTML)
*	Version: 1.3
*	Author: beshleyua
*	Author URL: http://themeforest.net/user/beshleyua
*	Copyright © Cvio by beshleyua. All Rights Reserved.
**/

/* TABLE OF CONTENTS
	1. Template Purple
*/

/* 1. Template Purple */
.container .line {
	background: #5f43b2;
}

a:hover {
	color: #5f43b2;
}

a.btn.fill,
.btn.fill {
	background: #5f43b2;
	border-color: #5f43b2;
}

a.btn:hover,
.btn:hover {
	background: #5f43b2;
	border-color: #5f43b2;
}

.preloader .load {
	color: #5f43b2;
}

.preloader .typed-load,
.preloader .typed-cursor {
	color: #5f43b2;
}

input:focus,
textarea:focus,
button:focus {
	border-bottom-color: #5f43b2;
}

button:hover {
	border-bottom-color: #5f43b2;
}

@media (min-width: 580px) {
	.glitch-effect-white:before,
	.glitch-effect-white:after {
		background: #5f43b2;
	}

	.glitch-effect:after,
	.glitch-effect-white:after {
		text-shadow: -1px 0 #5f43b2;
	}

	.glitch-effect:before,
	.glitch-effect-white:before {
		text-shadow: 2px 0 #5f43b2;
	}

}

header .head-top .menu-btn:hover:before,
header .head-top .menu-btn:hover:after,
header .head-top .menu-btn:hover span {
  background: #5f43b2;
}

header .head-top .top-menu ul li.active a {
  color: #5f43b2;
}

header .head-top .top-menu ul li.active .btn {
  background: #5f43b2;
  border-color: #5f43b2;
}

.section.started .mouse_btn {
  color: #5f43b2;
}

.info-list ul li strong {
  color: #5f43b2;
}

.resume-items .resume-item:before {
  background: #5f43b2;
}

.resume-items .resume-item .date {
  color: #5f43b2;
  border-color: #5f43b2;
}

.resume-items .resume-item .date:before {
  background: #5f43b2;
}

.skills ul li .progress .percentage {
  background: #5f43b2;
}

.service-items .service-item .icon {
  color: #5f43b2;
}

.section.works .filters label.glitch-effect {
  color: #5f43b2;
}

.box-items .box-item:hover .desc .name {
  color: #5f43b2;
}

.box-items .box-item .image .info .centrize {
  background: #5f43b2;
}

.date {
  color: #5f43b2;
  border-color: #5f43b2;
}

footer .soc a:hover .ion {
  color: #5f43b2;
}

.skills.dotted ul li .progress .da span {
  background: #5f43b2!important;
}

.skills.list ul li .name:before {
  color: #5f43b2;
}

.skills ul li .progress .percentage {
  background: #5f43b2;
}

.skills.dotted ul li .progress .da span {
  background: #5f43b2;
}

.skills.circles .progress .bar, 
.skills.circles .progress.p51 .fill, 
.skills.circles .progress.p52 .fill, 
.skills.circles .progress.p53 .fill, 
.skills.circles .progress.p54 .fill, 
.skills.circles .progress.p55 .fill, 
.skills.circles .progress.p56 .fill, 
.skills.circles .progress.p57 .fill, 
.skills.circles .progress.p58 .fill, 
.skills.circles .progress.p59 .fill, 
.skills.circles .progress.p60 .fill, 
.skills.circles .progress.p61 .fill, 
.skills.circles .progress.p62 .fill, 
.skills.circles .progress.p63 .fill, 
.skills.circles .progress.p64 .fill, 
.skills.circles .progress.p65 .fill, 
.skills.circles .progress.p66 .fill, 
.skills.circles .progress.p67 .fill, 
.skills.circles .progress.p68 .fill, 
.skills.circles .progress.p69 .fill, 
.skills.circles .progress.p70 .fill, 
.skills.circles .progress.p71 .fill, 
.skills.circles .progress.p72 .fill, 
.skills.circles .progress.p73 .fill, 
.skills.circles .progress.p74 .fill, 
.skills.circles .progress.p75 .fill, 
.skills.circles .progress.p76 .fill, 
.skills.circles .progress.p77 .fill, 
.skills.circles .progress.p78 .fill, 
.skills.circles .progress.p79 .fill, 
.skills.circles .progress.p80 .fill, 
.skills.circles .progress.p81 .fill, 
.skills.circles .progress.p82 .fill, 
.skills.circles .progress.p83 .fill, 
.skills.circles .progress.p84 .fill, 
.skills.circles .progress.p85 .fill, 
.skills.circles .progress.p86 .fill, 
.skills.circles .progress.p87 .fill, 
.skills.circles .progress.p88 .fill, 
.skills.circles .progress.p89 .fill, 
.skills.circles .progress.p90 .fill, 
.skills.circles .progress.p91 .fill, 
.skills.circles .progress.p92 .fill, 
.skills.circles .progress.p93 .fill, 
.skills.circles .progress.p94 .fill, 
.skills.circles .progress.p95 .fill, 
.skills.circles .progress.p96 .fill, 
.skills.circles .progress.p97 .fill, 
.skills.circles .progress.p98 .fill, 
.skills.circles .progress.p99 .fill, 
.skills.circles .progress.p100 .fill {
  border-color: #5f43b2;
}