{{- with site.Params.about }}
<div class="section about" id="section-resume">
  <div class="content">
    <div class="title">
      <div class="title_inner">{{ .Title }}</div>
    </div>
    <div class="desc">
      <p>{{ .Description }}</p>
      <div class="info-list">
        <ul>
          <li><strong>Name:</strong> {{ .Name }}</li>
          <li><strong>Job:</strong> {{ .job.Title }}</li>
          <li><strong>E-mail:</strong> <a href="mailto:{{ .Email }}">{{ .Email }}</a></li>
        </ul>
      </div>
      <div class="bts"><a href="{{ .resumeLink }}" class="btn fill" data-text="{{ .ResumeButtonText }}">{{ .ResumeButtonText }}</a></div>
    </div>
    <div class="clear"></div>
  </div>
</div>
{{- end -}}