{{- with site.Params.contact }}
<div class="section contacts" id="section-contact">
  <div class="content">
    <div class="title">
      <div class="title_inner">{{ .Title }}</div>
    </div>
    <div class="service-items">
      {{ range .Channels }}
      <div class="service-item">
        <div class="icon"><i class="{{ .icon }}"></i></div>
        <div class="name">{{ .name }}</div>
        <p>
          <a href="{{ .link }}">{{ .linkText }}</a>
        </p>
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{- end -}}