{{- with site.Params.footer }}

<div class="soc">
  {{ range .SocialLinks }}
  <a target="_blank" href="{{ .link }}"><i class="{{ .icon }}"></i></a>
  {{ end }}
</div>
<div class="copy">{{ .CopyText }}</div>
<div class="clr"></div>
{{- end -}}