<div class="head-top">
  <a href="#" class="menu-btn"><span></span></a>
  <div class="top-menu">
    <ul>
      <li><a href="#section-resume" class="lnk">Resume</a></li>
      <li><a href="#section-experience" class="lnk">Experience</a></li>
      <li><a href="#section-education" class="lnk">Education</a></li>
      <li><a href="#section-skills" class="lnk">Skills</a></li>
      <li><a href="#section-contact" class="btn">Contact me</a></li>
    </ul>
  </div>
</div>