<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title>
  {{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title
  site.Title }}{{ end }}
</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
{{ partialCached "head/css.html" . }}
{{ partialCached "head/icons.html" . }}