<div class="preloader">
  <div class="centrize full-width">
    <div class="vertical-center">
      <div class="pre-inner">
        <div class="load typing-load">
          <p>loading...</p>
        </div>
        <span class="typed-load"></span>
      </div>
    </div>
  </div>
</div>