{{- with site.Params.resume }}
<div class="section resume">
  <div class="content">
    <div class="cols">
      <div class="col col-md">
        <div class="title">
          <div class="title_inner" id="section-experience">{{ .experienceTitle }}</div>
        </div>
        <div class="resume-items">
          {{ range .Experience }}
          <div class="resume-item{{ if .active }} active{{ end }}">
            <div class="date">{{ .date }}</div>
            <div class="name">{{ .name }}</div>
            <p>{{ .description }}</p>
          </div>
          {{ end }}
        </div>
      </div>
      <div class="col col-md">
        <div class="title">
          <div class="title_inner" id="section-education">{{ .educationTitle }}</div>
        </div>
        <div class="resume-items">
          {{ range .Education }}
          <div class="resume-item">
            <div class="date">{{ .date }}</div>
            <div class="name">{{ .name }}</div>
            <p>{{ .description }}</p>
            {{ if .url }}
            <p><a href="{{ .url }}">Validate Certification</a></p>
            {{ end }}
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
{{- end -}}