{{- with site.Params.skills }}
<div class="section service" id="section-skills">
  <div class="content">
    <div class="title">
      <div class="title_inner">{{ .Title }}</div>
    </div>
    <div class="service-items">
      {{ range .Categories }}
      <div class="service-item">
        <div class="icon"><i class="{{ .icon }}"></i></div>
        <div class="name">{{ .name }}</div>
        <ul>
          {{ range .items }}
          <br>
          <li>{{ . }}</li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{- end -}}