<div class="section started">
  <div class="centrize full-width">
    <div class="vertical-center">
      <div class="started-content">
        {{- with site.Params.about }}
        <div class="h-title glitch-effect" data-text="I'm {{ .Name }}">
          <span>I'm {{ .Name }}</span>
        </div>
        <div class="h-subtitle typing-subtitle">
          <p>{{ .job.Title }}</p>
          <p>{{ .Location }}</p>
        </div>
        <span class="typed-subtitle"></span>
      </div>
      {{- end -}}
    </div>
  </div>
  <a href="#" class="mouse_btn"><i class="fa-solid fa-computer-mouse"></i></a>
</div>