<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "head.html" . }}
</head>

<body class="home">

  {{ partial "preloader.html" }}

  <div class="container">

    <header>
      {{ partial "header.html" }}
    </header>



    <div class="wrapper">

      {{ partial "started" }}

      {{ partial "about.html" }}

      {{ partial "resume.html" }}

      {{ partial "skills.html" }}

      {{ partial "contact.html" }}

    </div>

    <footer>

      {{ partial "footer.html" }}

    </footer>

    {{ partial "lines.html" }}

  </div>

  {{ partialCached "head/js.html" . }}

</body>

</html>